@font-face {
  font-family: "iconfont"; /* Project id 4132297 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1687269552474') format('woff2'),
       url('iconfont.woff?t=1687269552474') format('woff'),
       url('iconfont.ttf?t=1687269552474') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  font-size: 22px;
  content: "\e8ef";
}

.icon-riqi:before {
  font-size: 20px;
  content: "\e6fc";
}

.icon-wo:before {
  font-size: 18px;
  content: "\e600";
}

.icon-home_fill_light:before {
  font-size: 20px;
  content: "\e7d8";
}

.icon-tag-fill:before {
  font-size: 20px;
  content: "\e86e";
}

.icon-QQ:before {
  font-size: 26px;
  content: "\e882";
}

.icon-youxiang:before {
  font-size: 26px;
  content: "\e645";
}

.icon-category:before {
  font-size: 20px;
  content: "\e84d";
}

