@font-face {
  font-family: "iconfont"; /* Project id 4100056 */
  src: url('iconfont.woff2?t=1685627358152') format('woff2'),
       url('iconfont.woff?t=1685627358152') format('woff'),
       url('iconfont.ttf?t=1685627358152') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boshimao:before {
  font-size: 22px;
  content: "\e602";
}

.icon-planetspacefl:before {
  content: "\e614";
}

.icon-xingkong:before {
  font-size: 30px;
  content: "\e744";
}

.icon-QQ:before {
  font-size: 24px;
  content: "\e882";
}

.icon-youxiang:before {
  font-size: 24px;
  content: "\e611";
}

.icon-shijianxian:before {
  font-size: 20px;
  content: "\e674";
}

